src/main/java/META-INF/codedriver.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://neatlogic.techsure.com/schema/neatlogic" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:beans="http://www.springframework.org/schema/beans" targetNamespace="http://neatlogic.techsure.com/schema/neatlogic" elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xsd:import namespace="http://www.springframework.org/schema/beans" />

	<xsd:element name="module">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					<xsd:attribute name="name" type="xsd:string" use="required" />
					<xsd:attribute name="group" type="xsd:string" use="required"/>
					<xsd:attribute name="groupName" type="xsd:string"/>
					<xsd:attribute name="description" type="xsd:string" />
					<xsd:attribute name="groupSort" type="xsd:int" use="required"/>
					<xsd:attribute name="urlMapping" type="xsd:string" />
					<xsd:attribute name="groupDescription" type="xsd:string" />
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>