src/main/java/META-INF/neatlogic.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright (C) $today.year  深圳极向量科技有限公司 All Rights Reserved.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.-->

<xsd:schema xmlns="http://neatlogic.com/schema/neatlogic" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            targetNamespace="http://neatlogic.com/schema/neatlogic" elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.springframework.org/schema/beans"/>

    <xsd:element name="module">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="name" type="xsd:string" use="required"/>
                    <xsd:attribute name="group" type="xsd:string" use="required"/>
                    <xsd:attribute name="groupName" type="xsd:string"/>
                    <xsd:attribute name="description" type="xsd:string"/>
                    <xsd:attribute name="groupSort" type="xsd:int" use="required"/>
                    <xsd:attribute name="urlMapping" type="xsd:string"/>
                    <xsd:attribute name="groupDescription" type="xsd:string"/>
                    <xsd:attribute name="parent" type="xsd:string"/>
                    <xsd:attribute name="isCommercial" type="xsd:boolean"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>