src/main/java/META-INF/neatlogic.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright(c) 2023 NeatLogic Co., Ltd. All Rights Reserved.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<xsd:schema xmlns="http://neatlogic.com/schema/neatlogic" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            targetNamespace="http://neatlogic.com/schema/neatlogic" elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.springframework.org/schema/beans"/>

    <xsd:element name="module">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="name" type="xsd:string" use="required"/>
                    <xsd:attribute name="group" type="xsd:string" use="required"/>
                    <xsd:attribute name="groupName" type="xsd:string"/>
                    <xsd:attribute name="description" type="xsd:string"/>
                    <xsd:attribute name="groupSort" type="xsd:int" use="required"/>
                    <xsd:attribute name="urlMapping" type="xsd:string"/>
                    <xsd:attribute name="groupDescription" type="xsd:string"/>
                    <xsd:attribute name="parent" type="xsd:string"/>
                    <xsd:attribute name="isCommercial" type="xsd:boolean"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>